<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="PollerPath" value="\\hhr.be\dfs\hl7adt\HL7Storev23" />
    <add key="SearchPattern" value="*.hl7" />
    <add key="MaxDegreeOfParallelism" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="HL7v23" connectionString="Data Source=HHRDB;Initial Catalog=HL7v23; User Id=App_HL7_Admin; Password=hl7" />
  </connectionStrings>
  <log4net>
    <appender name="db" type="HHR.log4net.Appender.SqlClientAppender,HHR.log4net">
      <bufferSize value="1" />
      <connectionString value="server=HHRDB; database=Logging; user id=App_Log_Manager; password=l1g;" />
      <commandText value="INSERT INTO log4net ([Date], [TimeStamp], [Property_HostName], [Property_Application], [Property_Version], [Identity], 
                  [UserName], [AppDomain], [Thread], [File], [Location], [Line], [Type], [Level],
                  [Logger], [Ndc], [Message], [ExceptionType], [Exception], [ScreenShot]) VALUES (@log_date, 
                  @log_timestamp, @log_property_hostname, @log_property_application, @log_property_version, @log_identity, @log_username, @log_appdomain,
                  @log_thread, @log_file, @log_location, @log_line, @log_type, @log_level, @log_logger, 
                  @log_ndc, @log_message, @log_exceptiontype, @log_exception, @log_screenshot)" />
      <parameter>
        <parameterName value="@log_date" />
        <sqlDbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_timestamp" />
        <sqlDbType value="Int" />
        <size value="4" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%timestamp" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_property_hostname" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%property{log4net:HostName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_property_application" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%property{application}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_property_version" />
        <sqlDbType value="VarChar" />
        <size value="50" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%property{version}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_identity" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%identity" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_username" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%username" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_appdomain" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%appdomain" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_thread" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_file" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%file" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_location" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%location" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_line" />
        <sqlDbType value="Int" />
        <size value="4" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%line" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_type" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%type" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <sqlDbType value="VarChar" />
        <size value="50" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_logger" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_ndc" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%ndc" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_message" />
        <sqlDbType value="VarChar" />
        <size value="24000" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_exceptiontype" />
        <sqlDbType value="VarChar" />
        <size value="255" />
        <layout type="HHR.log4net.Layout.PatternLayout, HHR.log4net">
          <conversionPattern value="%exceptType" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_exception" />
        <sqlDbType value="VarChar" />
        <size value="8000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_screenshot" />
        <sqlDbType value="Image" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="screenshot" />
        </layout>
      </parameter>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <priority value="WARN" />
      <appender-ref ref="db" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.122.0" newVersion="3.1.122.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>